Flask==3.1.0
gunicorn
opentelemetry-distro==0.54b1
opentelemetry-instrumentation==0.54b1
opentelemetry-instrumentation-flask
opentelemetry-sdk
azure-monitor-opentelemetry
azure-core
azure-core-tracing-opentelemetry
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-urllib3
opentelemetry-resource-detector-azure
